<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Parking - automatycy</title>
    <meta name="Parking - automatycy" content="Parking - automatycy">
    <meta name="PCzech" content="SitePoint">
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">

</head>

<body>
    <div id="container">
        <div id="topbar">
            <h1>Parking - automatycy</h1>
        </div>
        <div id="menu">
            <a th:href="@{/}">
                <div class="option">Pokaż wszystkie</div>
            </a>
            <a th:href="@{/add}">
                <div class="option">Dodaj</div>
            </a>
            <a th:href="@{/car_delete}">
                <div class="option">Usuń</div>
            </a>
            <a th:href="@{/car_modify}">
                <div class="option">Modyfikuj</div>
            </a>
            <a th:href="@{/car_search}">
                <div class="option">Szukaj</div>
            </a>
            <a th:href="@{/users}">
            <div class="option">Użytkownicy</div>
            </a>
            <a th:href="@{/admin_panel}">
                <div class="option">Panel admina</div>
            </a>
            <a th:href="@{/logout_form}">
                <div class="option">Wyloguj</div>
            </a>
            <a href="#">
                <div style="clear: both;"></div>
            </a>

        </div>
        <div id="title">Pokaż wszystkie</div>
        <div id="login">Login:</div>
        <div id="content" style="text-align: center">
            <tr th:each="car:${cars}">
                <div class="car">
                    Id:
                    <td th:text=${car.id}></td>
                    <br/> Rejestracja:
                    <td th:text=${car.regTable}></td>
                    <br/> Kolor:
                    <td th:text=${car.color}></td>
                    <br/> Marka:
                    <td th:text=${car.mark}></td>
                    <br/> Model:
                    <td th:text=${car.model}></td>
                    <br/> Ilość parkowań:
                    <td th:text="${car.amountPark}"></td>
                    <br/>
                    <div class="report" th:each="report, i :${car.reports}">
                        <span th:text="${i.index + 1}"></span>.<br/> Zgłaszający: <span th:text="${report.reporter}"></span><br/> Data: <span th:text="${report.date}"></span><br/>
                    </div>
                </div>

            </tr>
        </div>


        <div id="footer">Created by PCzech</div>
    </div>


</body>

</html>