<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parking automatycy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
    <h1>Parking automatycy</h1>

    <!-- Insert new car into DB -->
    <form>
        Nr. tablicy rejestracyjnej: <br/>
        <input type = "text"><br/>
        Kolor:<br/>
        <input type = "text"><br/>
        Marka:<br/>
        <input type="text"><br/>
        Model:<br/>
        <input type="text"><br/>
    </form>
    
</body>
</html>