<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Parking - automatycy</title>
    <meta name="Parking - automatycy" content="Parking - automatycy">
    <meta name="PCzech" content="SitePoint">
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">

</head>

<body>
    <div id="container">
        <div id="topbar">
            <h1>Parking - automatycy</h1>
        </div>
        <div id="menu">
            <a th:href="@{/}">
                <div class="option">Pokaż wszystkie</div>
            </a>
            <a th:href="@{/add}">
                <div class="option">Dodaj</div>
            </a>
            <a th:href="@{/car_delete}">
                <div class="option">Usuń</div>
            </a>
            <a th:href="@{/car_modify}">
                <div class="option">Modyfikuj</div>
            </a>
            <a th:href="@{/car_search}">
                <div class="option">Szukaj</div>
            </a>
            <a href="">
                <div class="option">Użytkownicy</div>
            </a>
            <a href="">
                <div class="option">Panel admina</div>
            </a>
            <a th:href="@{/logout_form}">
                <div class="option">Wyloguj</div>
            </a>
            <a href="#">
                <div style="clear: both;"></div>
            </a>
        </div>
        <div id="title">Usuń raporty:</div>
        <div id="login">Login:</div>
        <div id="content" style="text-align: center">
            <form th:object="${carDetails}" method="GET" th:action="@{/car_delete_details_deleted}">
                Lista raportów dla auta o rejestracji: <br/>
                <input type="text" th:value="*{regTable}" th:name="regTable" readonly="true" style="height: fit-content; font-size: 30px; text-align: center; background-color: black; color: white;">
                <div class="entryform">
                    <select th:name="reportDate">
                        <option th:each="report : *{reports}" th:value=${report.date} th:text=${report.date}></option>
                    </select>
                    <input type="submit" value="Usuń" />
                </div>
            </form>
        </div>
        <div id="footer">Created by PCzech</div>
    </div>


</body>

</html>