<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <title>Parking - automatycy</title>
    <meta name="Parking - automatycy" content="Parking - automatycy">
    <meta name="PCzech" content="SitePoint">
    <link rel="stylesheet" type="text/css" th:href="@{style.css}">

</head>

<body>
<div id="container">
    <div id="topbar">
        <h1>Parking - automatycy</h1>
    </div>
    <div id="menu">
        <a th:href="@{/}">
            <div class="option">Pokaż wszystkie</div>
        </a>
        <a th:href="@{/add}">
            <div class="option">Dodaj</div>
        </a>
        <a th:href="@{/car_delete}">
            <div class="option">Usuń</div>
        </a>
        <a th:href="@{/car_modify}">
            <div class="option">Modyfikuj</div>
        </a>
        <a href="">
            <div class="option">Szukaj</div>
        </a>
        <a href="">
            <div class="option">Użytkownicy</div>
        </a>
        <a href="">
            <div class="option">Panel admina</div>
        </a>
        <a href="">
            <div class="option">Wyloguj</div>
        </a>
        <a href="">
            <div style="clear: both;"></div>
        </a>
    </div>
    <div id="title">Modyfikuj:</div>
    <div id="login">Login:</div>
    <div id="content" style="text-align: center">
        <form th:object="${carDetails}" method="POST" th:action = "@{car_modify_details_modified}">
            Dane auta o rejestracji:  <br/>
            <input type="text" th:value="*{regTable}" readonly="true" disabled style="height: fit-content; font-size: 30px; text-align: center; background-color: black; color: white;">
            <div class="entryform">
                Marka:<br/>
                <input type="text" th:field="*{mark}" th:value = "*{mark}"/><br/>
                Model:<br/>
                <input type="text" th:field="*{model}" th:value = "*{model}"/><br/>
                Kolor:<br/>
                <input type="text" th:field="*{color}" th:value = "*{color}"/><br/>

                
                <!-- left fields -->
                <input type="hidden" th:value = "*{id}" th:field = "*{id}" /><br/>
                <input type="hidden" th:value = "*{regTable}" th:field = "*{regTable}" /><br/>
                <input type="hidden" th:value = "*{reports}" th:field = "*{reports}" /><br/>
                <input type="hidden" th:value = "*{amountPark}" th:field = "*{amountPark}" /><br/>

                <br/>
                <input type="submit" value="Modyfikuj"/>
            </div>
        </form>
    </div>
    <div id="footer">Created by PCzech</div>
</div>


</body>

</html>